
<div class="flex-container">
<mat-toolbar color="primary" xmlns="http://www.w3.org/1999/html">
  <span><h2>Excel Data Analyser</h2></span>
<div class="button-ts">
<!--  <mat-button>Data Mapping</mat-button>-->
<!--&lt;!&ndash;    <a> | </a>&ndash;&gt;-->
<!--  <mat-button>Data Analysis</mat-button>-->
  <button mat-raised-button color="accent"  (click)="navigateToDataMapping()">Data Mapping</button>
  <button mat-raised-button color="accent" style="margin-left: 5px" (click)="navigateToDataAnalysis()">Data Analysis</button>

</div>
</mat-toolbar>


</div>
<div>
  <file-upload [fileUploadData]="fileData"></file-upload>
</div>
<!--<div class="card-wrapper">-->
<!--<mat-card class="example-card" style="background-color: white; margin-top: 10px;">-->
<!--  <div class="ui-g">-->
<!--    <div class="ui-g-12 ui-fluid" style="margin-left: 20px">-->
<!--      <mat-card-title style="color: black">Data Ingestion</mat-card-title>-->
<!--      <div class="ui-g-12">-->
<!--        <div class="ui-g-12 ui-md-12">-->
<!--    <button pButton type="button" label="Upload" icon="ui-icon-plus" class="default-btn" ></button>-->

<!--  </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</mat-card>-->
<!--</div>-->





  <div class="card-wrapper">
    <mat-card class="example-card" style="background-color: white; margin-top: 10px; height: max-content">
      <div class="ui-g">
        <div class="ui-g-12 ui-fluid" style="margin-left: 20px">
          <div class="ui-g-12">
            <mat-form-field appearance="fill" style="margin-left: 80%; background-color: azure">

                    <span class="md-inputfield">
                        <input matInput placeholder="Ex. Pizza">

                    </span>

            </mat-form-field>
            <div class="mat-elevation-z8" style="margin-top: 10px;margin-left: 10px; width: 95%; background: #f3edff">

              <table mat-table [dataSource]="dataSource" >
                <!-- Position Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="fileName">
                  <th mat-header-cell *matHeaderCellDef> File Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="schedule">
                  <th mat-header-cell *matHeaderCellDef> Schedule </th>
                  <td mat-cell *matCellDef="let element">

                    <input matInput [matDatepicker]="y" [value]="element.schedule" name="empto" placeholder="Choose a date" >
                    <mat-datepicker-toggle matSuffix [for]="y"></mat-datepicker-toggle>
                    <mat-datepicker #y></mat-datepicker>
                  </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> action </th>
                  <td mat-cell *matCellDef="let element"> {{element.action}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <div class="ui-g-12 ui-md-4" style="margin-bottom: 10px">
              <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons
                             aria-label="Select page of periodic elements" >
              </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>

  </div>



