@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';

.mat-toolbar{
  background-color: cornflowerblue;
  /*position: fixed;*/
  /*z-index: 990;*/
  /*width: 100%;*/
  /*padding: 5px;*/
  /*left: 0px;*/
  /*border-bottom: 1px solid #cccccc;*/
  color: white;
  height: 50px;
}
.button-ts{

  margin-left: 800px;
}
.mat-button{
  color: white;
  position: center;
  align-content: end;
}
.spacer{
  flex: 1 1 auto;
}

/*.flex-box-2 {*/
/*  display:flex;*/
/*  justify-content: center;*/

/*}*/

.mat-card{
  padding:0 !important;
}

.mat-card-content{
  padding:5px !important;
}

table {
  width: 100%;
}

.mat-column-date{
  width: 32px;
  border-right: 1px solid white;
  padding-right: 14px;
  text-align: center;
}
.mat-column-fileName{
  width: 32px;
  border-right: 1px solid white;
  padding-right: 24px;
  text-align: center;
}
.mat-column-status{
  width: 32px;
  border-right: 1px solid white;
  padding-right: 24px;
  text-align: center;
}
.mat-column-schedule{
  width: 32px;
  border-right: 1px solid white;
  padding-right: 24px;
  text-align: center;
}
.mat-column-action{
  width: 32px;
  border-right: 1px solid white;
  padding-right: 24px;
  text-align: center;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
